@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Database Manager is a web application that allows people to manage information in their databases. Note: This application is for testing purposes only.</p>
